language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9-dev

before_script:
  - flake8 tests ogn

script:
  - nosetests --with-coverage --cover-package=ogn

  - pip install . --upgrade
  - python -c 'import ogn'

after_success:
  - coveralls
